.navbar .navbar-brand img {
    height: 20px;
  }

  .navbar .navbar-brand {
    padding-top: 0;
  }

  .navbar .nav-link {
    color: #444343!important;
  }

  .navbar .button-collapse {
    padding-top: 1px;
  }

  .card-intro .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
  }

  .card-intro .card-body h1 {
    margin-bottom: 0;
  }

  .card-intro {
    margin-top: 64px;
  }

  @media (max-width: 450px) {
    .card-intro {
      margin-top: 56px;
    }
  }

  @media (min-width: 1441px) {
    .card-intro {
      padding-left: 0 !important;
    }
  }

  .administradores{
      margin: 20px auto;
      display: grid;
      grid-gap: 20px;

      grid-template-columns: 1fr 2fr 2fr 1fr;
      grid-template-rows: repeat(4, auto);
  }

.nav-link {
   color: #ffff;
 }
 
.nav-link:hover{
  color: #ffff;
}

.administradores > .agregarAdmin{
  grid-column:2/3 ;
  grid-row: 1;
}

.administradores  > .lista{
  grid-column: 2/4;
  grid-row: 2/4;
}

.administradores > .borrarAdmin{
  grid-column: 3/4;

}
.seladmin{
  margin-top: 20px;
}
.tituloLista{
  color: #0075bf;
}


.categoria {
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;

  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: repeat(4, auto);
  
}

.categoria > .cargar-categoria {
  grid-column: 2/3;
}

.categoria > .lista-categoria {
  grid-column: 2/4;
}

.thead {
  background: #33b5e5;
  color: #ffffff;
}