*{
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --PrimarioClaro: #0075BE;
    --PrimarioOscuro: #004489;
    --SecundarioClaro: #E9EBF5;
    --UbuntuEnlaces: 'Ubuntu', sans-serif; /*italica*/
    --UbuntuSubtitulos: 'Ubuntu', sans-serif; /*medium*/
    --UbuntuTitulosPrincipales: 'Ubuntu', sans-serif; /*Bold*/
    --RobotoParrafos: 'Roboto', sans-serif;/*regular*/
    --sombra: rgba(0, 0, 0, 0.5);

    --input-text:{
        width: 100%;
        padding: 5px;
        height: 35px;
        border: none;
        border: 2px solid var(--PrimarioOscuro);
        border-radius: 5px;
    }
    --button:{
        padding: 0 30px;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
        font-style: italic;
        background-color: var(--PrimarioOscuro);
        outline: none;
        text-align: center;
    }
}
#precarga-profesional .btn-precarga > button:hover{
    background-color: #E9EBF5;
    color: #004489;
}
#registro{
    margin-top: 80px;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: minmax(300px, 700px);
    justify-content: center;
}
#registro > .contenedor{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-image: linear-gradient(to bottom right, var(--PrimarioOscuro), var(--SecundarioClaro));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}
#registro > .contenedor > h3{
   color: white;
   font-size: 20px;
   text-shadow: 2px 2px 2px var(--PrimarioOscuro);
   text-align: center;
}
#registro > .contenedor > form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
#registro > .contenedor > form > .input-container > label{
    color: white;
    font-size: 20px;
}
#registro > .contenedor > form > .input-container > .button1{
    /* background-color: var(--SecundarioClaro);
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    color: var(--PrimarioOscuro);
    font-size: 20px;
    padding: 5px 60px;
    font-weight: 600; */
    @apply --button;
    
}
#registro > .contenedor > form > .input-container > .button1:hover{
    /* background-color: color(var(--PrimarioOscuro) lightness(50%)); */
    background-color: color(var(--PrimarioClaro) lightness(40%));
    /* background-color: var(--PrimarioClaro); */
}
#registro > .contenedor > form > .input-container:nth-last-of-type(1){
    padding-top: 10px;
    justify-self: center;
}

/*--------------PUBLICACIONES-----------------------*/
#nueva-publicacion{
    margin-top: 100px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
    display: grid;
    grid-template-columns: minmax(300px, 1000px);
    justify-content: center;
}
#nueva-publicacion [type = "text"],
#nueva-publicacion [type = "number"],
#nueva-publicacion select,
#nueva-publicacion textarea{
    @apply --input-text;
    margin: 0;
}
#nueva-publicacion > .publication-container{
    padding: 15px;
    background-image: linear-gradient(to bottom right, var(--PrimarioOscuro), var(--SecundarioClaro));
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}
#nueva-publicacion > .publication-container > h1{
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 2px var(--PrimarioOscuro);
}
#nueva-publicacion > .publication-container > .contenedor-tipo{
    display: grid;
    grid-template-columns: minmax(250px, 800px);
    justify-content: center;
}
#nueva-publicacion > .publication-container > .contenedor-tipo > form{
    display: grid;
    grid-template-columns: minmax(200px, 400px);
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#nueva-publicacion > .publication-container > .contenedor-tipo > form > select{
    border-radius: 5px;
}
#nueva-publicacion > .publication-container > .panelcontent{
    display: none;
}
#nueva-publicacion > .publication-container > .panelcontent.active{
    display: grid;
}

.form-area{
    background-color: color(var(--sombra) alpha(25%));
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: #fff;
    text-align: start;
}

#propiedad,
#profesional{
    display: grid;
    grid-template-columns: minmax(200px, 600px);
    padding: 15px;
    justify-content: center;
    gap: 10px;
}
#propiedad *,
#profesional *{
    margin: 0;
}
#propiedad > .titulo-publicacion{
    grid-column: 1/2;
}
#propiedad > .titulo-publicacion > p{
    font-size: 12px;
    color: white;
}
#propiedad > .tipo-inmueble{
    grid-template-rows: auto 1fr;
    grid-column: 1/2;
}
#propiedad > .moneda-container{
    text-align: start;
    grid-template-columns: 1fr;
    grid-column: 1/2;
}
#propiedad > .moneda-container > input{
    grid-column: 2 span;
}
#propiedad > .moneda-container > .option{
    padding: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
#propiedad > .alquilar-vender{
    text-align: start;
    grid-column: 1 / 3;
}
#propiedad > .alquilar-vender{
    grid-column: 1/2;
}
#propiedad > .description textarea{
    height: 160px;
    resize: none;
}
#propiedad > .area-inmueble{
    grid-template-rows: auto 1fr;
    grid-column: 1/2;
}
#propiedad > .image,
#profesional > .image{
    text-align: center;
}
#propiedad > .inmueble-features{
    grid-column: 1/2;
}
#propiedad > .tiempo{
    grid-column: 1/2;
}
#propiedad > .description, #propiedad > .image, #propiedad > .ubicacion{
    grid-column: 1/2;
}
#propiedad > .ubicacion{
    grid-template-columns: minmax(200px, 300px);
}
#municipalidad, #calle{
    grid-column: 1/2;
}

#propiedad > .ubicacion h6{
    grid-column: 2 span;

}
#propiedad > .btn-precarga{
    grid-column: 1/3;
    margin-top: 30px;
}
#propiedad > .btn-precarga > button{
    padding: 10px;
    background-color: var(--PrimarioOscuro);
    color: var(--SecundarioClaro);
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
}
#propiedad > .btn-precarga > button:hover{
    background-color: var(--SecundarioClaro);
    color: var(--PrimarioClaro);
}

/*=============SERVICIOS.INDEX==============*/
#search-main.servicios {
    bottom: calc(50% - (115px / 2));
}
#search-main.servicios > .form-container > [type = "submit"]{
    grid-row: unset;
}

@media screen and (min-width: 576px){
    #registro > .contenedor > form{
        grid-template-columns: repeat(2, minmax(150px, 450px));
    }
    #registro > .contenedor > form > .input-container:nth-last-of-type(1),
    #registro > .contenedor > form > .input-container:nth-last-of-type(2){
        grid-column: 2 span;
    }
}
@media screen and (min-width: 650px){
    #registro > .contenedor{
        grid-template-columns: minmax(300px, 1000px);        
    }
    #registro > .contenedor > h3{
        font-size: 30px;
    }
    #propiedad,
    #profesional{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 600px));
    padding: 15px;
    justify-content: center;
    gap: 10px;
    }
    #nueva-publicacion > .publication-container > .contenedor-tipo > form{
        display: grid;
        grid-template-columns: repeat(2, auto);
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    #propiedad > .titulo-publicacion {
        grid-column: 1/3;
    }
    #propiedad > .tipo-inmueble{
        grid-template-rows: auto 1fr;
        grid-column: 1/2;
    }
    #propiedad > .moneda-container{
        text-align: start;
        grid-template-columns: 1fr;
        grid-column: 2/3;
    }
    #propiedad > .alquilar-vender{
        grid-column: 1/3;
    }
    #propiedad > .area-inmueble{
        grid-template-rows: auto 1fr;
        grid-column: 2/3;
    }
    #propiedad > .inmueble-features{
        grid-column: 2/3;
    }
    #propiedad > .tiempo{
        grid-column: 2/3;
    }
    #propiedad > .ubicacion{
        grid-template-columns: repeat(2, 1fr);
    }
    #municipalidad{
        grid-column: 2/3;
    }
    
}
@media screen and (min-width: 768px){
    #search-main.servicios > .form-container > [type = "submit"]{
        grid-column: 2/4;
    }
}