*{
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}
#registro{
    margin-top: 60px;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    /* display: grid;
    grid-template-columns: minmax(300px, 1000px);
    justify-content: center; */
}

#registro > .contenedor{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #004489, #E9EBF5);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}
#registro > .contenedor > h3{
   color: white;
   font-size: 20px;
   text-shadow: 2px 2px 2px #004489;
   padding-top: 20px;
   text-align: center;
}
#registro > .contenedor > form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
#registro > .contenedor > form > div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#registro > .contenedor > form > div > label{
    color: white;
    font-size: 20px;
}
#registro > .contenedor > form > div > .button1{
    background-color: #E9EBF5;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    color: #004489;
    font-size: 20px;
    padding: 5px 60px;
    font-weight: 600;
}
#registro > .contenedor > form > div > .button1:hover{
    background-color: #E9EBF5;
    box-shadow: 4px 4px 4px #004489;
    
}
/*---------------------Panel-Usuario------------------------------*/
nav > .menu-items > .usuario > a {
    border-radius: 50px;
}
nav > .menu-items > .usuario > a > img{
    width: 35px;
}
nav > .menu-items > .usuario{
    position: relative;
}
nav > .menu-items .usuario > ul{
    position: absolute;
    top: -150px;
    left: -70px;
    transition: 0.4s;
}
nav > .menu-items .usuario > ul > li{
    width: 130px;
    padding: 10px;
    background-color:#004489da;
    box-shadow: 2px 2px 2px grey;
}
nav > .menu-items .usuario > ul > li:hover{
    background-color:#0075BE;
}
nav > .menu-items .usuario > ul > li > a{
    color: white;
}
nav > .menu-items > .usuario:hover > ul{
    display: block;
    top: 50px;
}
/*PANEL--------------------*/
#panel-usuario{
    background-image: linear-gradient(to bottom right, #004489 , #E9EBF5);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(30px, 40px) auto;
    margin: 110px 10px;
    width: auto;
    height:auto;
    border-radius: 10px;
}
#panel-usuario > h3{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #004489;
    padding: 10px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
#panel-usuario > .tab {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    height: auto;
    align-content: center;
    border-radius: 5px;
    padding-top: 10px;
    font-size: 15px;
}
#panel-usuario > .tab > button{
    margin-left: 30px;
    color: white;
    font-weight: 600;
    background-color: #00448900;
    border: none;
    font-style: italic;
}
#panel-usuario > .tab > .active{
    border-top: 2px solid #E9EBF5;
}
#panel-usuario > .tab > button:hover{
    border-top: 2px solid #E9EBF5;
}
#panel-usuario > .tabcontent{
    display: none;
}
#panel-usuario > .tabcontent.active{
    display: block;
    border-top: 2px solid #E9EBF5;
}

/*----------TABS-----------------*/
#perfil > .contenedor-perfil{
    display: grid;
    grid-template-columns: minmax(250px, 500px);
    justify-content: center;
}
#perfil >.contenedor-perfil > .columna1, #perfil > .contenedor-perfil > .columna2{
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    padding: 40px;
}
#perfil > .contenedor-perfil > .columna1 > .datos-personales > label,
#perfil > .contenedor-perfil > .columna1 > .categoria > label{
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px #004489;
}
#perfil > .contenedor-perfil > .columna1 > div > form > input,
#perfil > .contenedor-perfil > .columna1 > div > form > select{
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
#perfil > .contenedor-perfil > .columna2 > .imagen{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
#perfil > .contenedor-perfil > .columna2 > .imagen > img{
    width: 250px;
    height: 250px;
    padding: 30px;
    border: 2px dashed white;
    margin-top: 30px;

} 
#perfil > .contenedor-perfil > .columna2 > .imagen > a{
    background-color: #E9EBF5;
    color: #0075BE;
    margin: 20px 50px;
    text-align: center;
    align-self: center;
    padding: 10px;
    font-weight: 600;
    box-shadow: 2px 2px 2px #0075BE;
}
#perfil > .contenedor-perfil > .columna2 > .imagen > a:hover{
    background-color: #0075BE;
    color: #E9EBF5;
    box-shadow: 4px 4px 4px #0075BE;
}
#perfil > .contenedor-perfil > .columna2 > .descripcion > label{
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px #004489;
}
#perfil > .contenedor-perfil > .columna2 > .descripcion > form > textarea{
    border-radius: 10px;
    width: 300px;
    max-height: 90px;
}
#perfil >.guardar > a{
    background-color: #E9EBF5;
    color: #004489;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
#publicaciones > .contenedor-publicaciones {
    margin-top: 10px;
    display: grid;
    grid-template-columns: minmax(200px, 350px);
}
#publicaciones > .contenedor-publicaciones > h4{
    text-align: center;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px #004489;
}
#publicaciones > .contenedor-publicaciones > .publicaciones{
    display: grid;
    grid-template-columns: minmax(250px, 350px);
}
#publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion{
    display: grid;
    grid-template-columns: auto;
    padding: 10px 20px;
    border: 2px solid #E9EBF5;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
}
#publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion > img{
    width: 100%;
    height: 150px;
    padding-right: 20px;
}
#publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion > p{
    padding: 10px;
    color: white;
    font-size: 15px;
}
#publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion > .acciones{
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    text-align: center;
    align-content: center;
}
#publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion > .acciones > a{
    background-color: #E9EBF5;
    color: #004489;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    box-shadow: 2px 2px 2px #0075BE;
}
#publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion > .acciones > a:hover{
    background-color: #0075BE;
    color: #E9EBF5;
    box-shadow: 4px 4px 4px #0075BE;
}
#planes > .contenedor-planes {
    margin-top: 10px;
    display: grid;
    grid-template-columns: minmax(250px, 1200px);
}
#planes > .contenedor-planes > h4{
    text-align: center;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 2px #004489;
}
#planes > .contenedor-planes > .planes{
    display: grid;
    grid-template-columns: minmax(250px, 1200px);
    overflow: auto;
    white-space: nowrap;
}
#planes > .contenedor-planes > .planes > table{
    text-align: center;
    border: 2px solid #E9EBF5;
    border-radius: 5px;
}
#planes > .contenedor-planes > .planes > table > thead{
    background-color: #E9EBF5;
    padding: 5px;
    box-shadow: 2px 2px 2px #004489;
}
#planes > .contenedor-planes > .planes > table > thead > tr > th{
    color: #004489;
    font-size: 15px;
}
#planes > .contenedor-planes > .planes > table > tbody > tr{
    border-bottom: 1px solid #E9EBF5;
}
#planes > .contenedor-planes > .planes > table > tbody > tr > td{
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 1px #004489;
    font-weight: 600;
}
#planes > .contenedor-planes > .planes > table > tbody > tr > td > a{
    background-color: #E9EBF5;
    color: #004489;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px #0075BE;
}
#planes > .contenedor-planes > .planes > table > tbody > tr > td > a:hover{
    background-color: #0075BE;
    color: #E9EBF5;
    box-shadow: 4px 4px 4px #0075BE;
}
/*--------------PUBLICACIONES-----------------------*/
#nueva-publicacion{
    margin-top: 100px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to bottom right, #004489, #E9EBF5);
    margin-left: 80px;
    margin-right: 80px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 80px;
}
#nueva-publicacion > h3{
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 2px #004489;
}
#nueva-publicacion >.contenedor-tipo{
    display: grid;
    grid-template-columns: minmax(250px, 800px);
    justify-content: center;
}
#nueva-publicacion >.contenedor-tipo > form{
    display: grid;
    grid-template-columns: repeat(2, auto);
    color: white;
    font-size: 18px;
    font-weight: 500;
}
#nueva-publicacion >.contenedor-tipo > form > select{
    border-radius: 5px;
}
#nueva-publicacion > .panelcontent{
    display: none;
}
#nueva-publicacion > .panelcontent.active{
    display: block;
}

/*------------PROPIEDADES-------------*/
#propiedad{
    margin-top: 30px;
}
#propiedad > form{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 15px;
    justify-content: center;
    gap: 10px;
}
#propiedad > form > .titulo-publicacion{
    grid-column: 1/3;
}
#propiedad > form > .titulo-publicacion> p{
    font-size: 12px;
    color: white;
}
#propiedad > form > .titulo-publicacion > input{
    border-radius: 5px;
    padding: 5px;
}
#propiedad > form > .contenedor-tipo{
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    justify-content: center;
}
#propiedad > form > .contenedor-tipo > label {
    color: white;
    align-self: center;
}
#propiedad > form > .contenedor-tipo > select{
    border-radius: 5px;
}
#propiedad > form > .container-moneda{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 10px;
}
#propiedad > form > .container-moneda > input{
    padding: 5px;
    border-radius: 5px;
}
#propiedad > form > .container-moneda > .contenedor-check{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
#propiedad > form > .container-moneda > .contenedor-check > div{
    padding: 5px;
    color: white;
}
#propiedad > form > .container-moneda > .contenedor-check > div > label{
    padding-left: 5px;
}
#propiedad > form > .container-finalidad{
    padding-top: 10px;
    grid-column: 1/3;
    color: white;
}
#propiedad > form > .container-finalidad > select{
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    
}
#propiedad > form > textarea{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 90px;
    border-radius: 5px;
}
#propiedad > form > .contenedor-area{
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    gap: 10px;
    justify-content: center;
}
#propiedad > form > .contenedor-area> input{
    border-radius: 5px;
    padding: 5px;
}
#propiedad > form > .imagenes{
    width: 60%;
    height: 300px;
    background-color: #E9EBF5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#propiedad > form > .contenedor-varios{
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(450px, 500px);
    justify-content: center;
    gap: 10px;
    color: white;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
}
#propiedad > form > .contenedor-varios > div{
    display: grid;
    grid-template-columns: auto minmax(150px, 250px);
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#propiedad > form > .contenedor-varios > .contenedor-hab > select{
    border-radius: 10px;
}
#propiedad > form > .contenedor-varios > .contenedor-banos > select{
    border-radius: 10px;
}
#propiedad > form > .contenedor-varios > .mascotas > .contenedor {
    display: grid;
    grid-template-columns: repeat(4, minmax(20px, 40px));
    gap: 5px;
}
#propiedad > form > .contenedor-varios > .cochera > .contenedor{
    display: grid;
    grid-template-columns: repeat(4, minmax(20px, 40px));
    gap: 5px;
}
#propiedad > form > .ubicacion-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    color: white;
    gap: 10px;
}
#propiedad > form > .ubicacion-container > p{
    grid-column: 1/3;
}
#propiedad > form > .ubicacion-container > select, #propiedad > form > .ubicacion-container > input{
    padding: 5px;
    border-radius: 5px;
}
#propiedad > form > .contenedor-tiempo-contacto{
    display: grid;
    grid-template-columns: minmax(250px, 400px);
    gap: 10px;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px #004489 
}
#propiedad > form > .contenedor-tiempo-contacto > div > input, #propiedad > form > .contenedor-tiempo-contacto > div > select{
    border-radius: 10px;
    padding: 5px;
}
#propiedad > form > .btn-precarga{
    grid-column: 1/3;
    margin-top: 30px;
}
#propiedad > form > .btn-precarga > button{
    padding: 10px;
    background-color: #004489;
    color: #E9EBF5;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
}
#propiedad > form > .btn-precarga > button:hover{
    background-color: #E9EBF5;
    color: #0075BE;
}
footer{
    background-image: linear-gradient(to left, #004489, #E9EBF5);;
    width: 100%;
    height: 60px;
}

@media screen and (min-width: 650px){
    #registro{
        margin-top: 40px;
        padding: 80px;
    }
    #registro > .contenedor{
        grid-template-columns: minmax(300px, 1000px);
        padding: 20px;
        
    }
    #registro > .contenedor > h3{
        font-size: 30px;
    }
    #registro > .contenedor > form{
        
        grid-template-columns: repeat(2, minmax(250px, 450px));
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #panel-usuario{
        background-image: linear-gradient(to bottom right, #004489 , #E9EBF5);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: minmax(30px, 40px) auto;
        margin: 150px 80px;
        width: auto;
        height:auto;
        border-radius: 10px;
    }
    #panel-usuario > h3{
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px #004489;
        padding: 10px;
        font-size: 25px;
    }
    #panel-usuario > .tab {
        grid-template-columns: repeat(4, auto);
        border-radius: 5px;
        padding-top: 10px;
        font-size: 18px;
    }
    #perfil >.contenedor-perfil > .columna1, #perfil > .contenedor-perfil > .columna2{
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        padding: 40px;
    }
    #publicaciones > .contenedor-publicaciones {
        margin-top: 10px;
        grid-template-columns: minmax(250px, 1200px);
    }
    #publicaciones > .contenedor-publicaciones > h4{
        text-align: center;
        color: white;
        font-size: 25px;
        text-shadow: 2px 2px 2px #004489;
    }
    #publicaciones > .contenedor-publicaciones > .publicaciones{
        grid-template-columns: 1fr;
    }
    #publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion{
        display: grid;
        grid-template-columns: minmax(100px,250px) minmax(250px, 700px) minmax(100px,250px);
        padding: 10px 20px;
        border: 2px solid #E9EBF5;
        border-radius: 10px;
        margin: 10px;
        justify-content: center;
    }
    #publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion > img{
        border-right: 2px solid #E9EBF5;
    }
    #publicaciones > .contenedor-publicaciones > .publicaciones > .item-publicacion > p{
        font-size: 18px;
    }
    #planes > .contenedor-planes > h4{
        font-size: 20px;
        
    }
    #planes > .contenedor-planes > .planes > table > thead > tr > th{
        color: #004489;
        font-size: 20px;
    }
    #planes > .contenedor-planes > .planes{
        overflow: none;
        white-space: normal;
    }
    #planes > .contenedor-planes > .planes > table{
        margin: 20px;
    }
}
@media screen and (min-width: 820px){
    #perfil > .contenedor-perfil{
        grid-template-columns: repeat(2,minmax(250px, 500px));
    }
}