:root{
  --PrimarioClaro: #0075BE;
  --PrimarioOscuro: #004489;
  --SecundarioClaro: #E9EBF5;
  --UbuntuEnlaces: 'Ubuntu', sans-serif; /*italica*/
  --UbuntuSubtitulos: 'Ubuntu', sans-serif; /*medium*/
  --UbuntuTitulosPrincipales: 'Ubuntu', sans-serif; /*Bold*/
  --RobotoParrafos: 'Roboto', sans-serif;/*regular*/
  /* --SecundarioOscuro: #0075BE; */
}
a{
  font-style: italic;
}

nav{
  position: fixed;
  z-index: 9999;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: color(var(--PrimarioOscuro) alpha(-50%));
  color: #fff;
}
nav > .img-container{
  width: 100px;
}
nav > .menu-items{
  padding: 0;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  list-style: none;
}
nav > .menu-items > li{
  height: auto;
  display: flex;
  align-items: center;
}
nav > .menu-items > li > a{
  padding: 5px 12px 5px 10px;
  font-weight: bold;
  color: var(--SecundarioClaro);
  font-family: var(--UbuntuEnlaces);
}
nav > .menu-items > li > a:hover{
  color: var(--PrimarioOscuro);
  background-color: var(--SecundarioClaro);
}
nav > .menu-items > li:nth-of-type(5) > a{
  color: var(--PrimarioOscuro);
  background-color: var(--SecundarioClaro);
}
nav > .menu-items > li:nth-of-type(5) > a:hover{
  color:var(--SecundarioClaro) ;
  background-color: var(--PrimarioOscuro);
}

.carousel > .carousel-inner > .carousel-item{
  height: 100vh;
  position: relative;
  z-index: 6;
}
.carousel > .carousel-inner > .carousel-item > img{
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Ralla derecha*/
#modal-servicios{
  position: fixed;
  z-index: 5;
  top:200px;
  right: 0;
  bottom: 100px;
  width: 60px;
  height: 400px;
  background-color: var(--PrimarioClaro);
  border: 2px solid var(--PrimarioOscuro);
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px grey;
}
#modal-servicios:hover{
  background-color: var(--PrimarioOscuro);
  border: 2px solid var(--SecundarioClaro);
  color: var(--SecundarioClaro);
  box-shadow: 3px 3px 3px grey;
  transition: all .3s;
}

#modal-servicios:hover #submenu{
  background-color: var(--PrimarioOscuro);
  box-shadow: 3px 3px 3px grey;
  display: grid;
  visibility: visible;
  transition: all 2s;
}

/*modal sub-menu*/
#modal-servicios > #submenu {
  display: none;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  width: 250px;
  height: 400px;
  background-color: var(--PrimarioClaro);
  position: fixed;
  z-index: 4;
  right: 60px;
  top:200px;
  border-radius: 5px;
  visibility: hidden;
}
#modal-servicios > #submenu > div{
  background-color: rgb(206, 205, 207);
  width: 100%;
  height: 100%;
}

#modal-servicios>a{
  font-family: var(--UbuntuEnlaces);
  color: var(--SecundarioClaro);
  font-size: 20px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 40px
}

/*PUBLICACIONES DESTACADAS*/
#publicaciones{
  display: grid;
  grid-template-columns: minmax(600px, 1000px);
  justify-content: center;
}
#publicaciones > h1{
  text-align: center;
  font-family: var(--UbuntuTitulosPrincipales);
  font-weight: bold;
  color: var(--PrimarioClaro);
}
#publicaciones > .contenedor-publicaciones{
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 600px));
  justify-self: center;
  gap: 50px;
}

#publicaciones > .contenedor-publicaciones > div{ 
  width: 300px;
  height: 200px;
  background-color: var(--PrimarioClaro);
}