:root{
  --PrimarioClaro: #0075BE;
  --PrimarioOscuro: #004489;
  --SecundarioClaro: #E9EBF5;
  --UbuntuEnlaces: 'Ubuntu', sans-serif; /*italica*/
  --UbuntuSubtitulos: 'Ubuntu', sans-serif; /*medium*/
  --UbuntuTitulosPrincipales: 'Ubuntu', sans-serif; /*Bold*/
  --RobotoParrafos: 'Roboto', sans-serif;/*regular*/
  /* --SecundarioOscuro: #0075BE; */
  --sombra: rgba(0, 0, 0, 0.5);
  --sombraClara: rgba(0, 0, 0, 0.25);
  --radioButtonSpace: 30px;
  --diferenciaSegundos: .4s;

  /* --titulos: {
    font-family: var(--UbuntuTitulosPrincipales);
    font-weight: bold;
    color: var(--PrimarioClaro);
    text-align: center;
  } */

  /* --addressPrice: {
    padding: 5px 10px;
    position: absolute;
    border-radius: 3px;
    transition: .3s;
  } */

  /* --imgCover:{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  /* --input-text:{
    width: 100%;
    padding: 5px;
    height: 35px;
    border: none;
    border: 2px solid var(--PrimarioOscuro);
    border-radius: 5px;
  } */

  /* --button:{
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    background-color: var(--PrimarioOscuro);
    outline: none;
    text-align: center;
  } */

  /* --overlay:{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--sombra);
    transition: .3s;
  } */
}
a{
  font-style: italic;
}
header{
  position: relative;
  z-index: 9999;
  background-color: #fff;
}
nav{
  position: fixed;
  z-index: 9999;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  /* background-image: linear-gradient(to right, color(var(--SecundarioClaro) alpha(81.6%)), 
                                              color(var(--PrimarioOscuro)  alpha(81.6%))); */
                                              
  background-image: linear-gradient(to right, rgba(233, 235, 245, 0.81), rgba(0, 68, 137, 0.81));

                                              
  /* background-image: linear-gradient(to right,#e9ebf5d0 , #004489d0); */
} 
nav > .img-container{
  width: 100px;
}
nav > .menu-btns {
  display: flex;
  align-items: center;
}
nav > .menu-btns > .menu-overlay{
  /* @apply --overlay; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sombra);
  transition: .3s;
}
nav > .menu-btns > .menu-overlay.hide{
  transform: translateX(-100%);
}
nav > .menu-btns > .menu-items{
  z-index: 9999;
  position: fixed;
  right: 10px;
  bottom: 100px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: var(--PrimarioOscuro);
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  list-style: none;
  transition: .3s;
}
nav > .menu-btns > .menu-items > li{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > .menu-btns > .menu-items > li > a{
  padding: 5px 12px 5px 10px;
  font-weight: bold;
  color: var(--SecundarioClaro);
  font-family: var(--UbuntuEnlaces);
}
nav > .menu-btns > .menu-items > li:nth-last-of-type(n + 2) > a:hover{
  color: var(--PrimarioOscuro);
  background-color: var(--SecundarioClaro);
}
nav > .menu-btns > .menu-items > li:nth-of-type(5) > a{
  color: var(--PrimarioOscuro);
  background-color: var(--SecundarioClaro);
  border-radius: 8px;
}
nav > .menu-btns > .menu-items > li:nth-of-type(5):hover > a{
  color: var(--SecundarioClaro) ;
  background-color: var(--PrimarioOscuro);
}
nav > .menu-btns > .menu-items.hide{
  right: -50%;
}
nav > .menu-btns > .hamburger-btn{
  z-index: 9999;
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border: 1px solid var(--PrimarioOscuro);
  border-radius: 50%;
  color: var(--PrimarioOscuro);
  background-color: var(--SecundarioClaro);
  justify-content: center;
  align-items: center;
  transition: .3s;
  outline: none;
}
/*---------------------Panel-Usuario------------------------------*/
nav > .menu-btns > .user{
  /* position: relative; */
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}
nav > .menu-btns > .user > .user-icon{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
nav > .menu-btns > .user > .user-icon > i{
  color: #E9EBF5;
}
nav > .menu-btns > .user > .user-icon > .fa-angle-down{
  transform: rotateZ(-90deg);
  transition: .3s;
}
nav > .menu-btns > .user > .user-icon > .fa-angle-down.rotate{
  transform: rotateZ(0deg);
}
nav > .menu-btns > .user > ul{
  position: absolute;
  top: 70px;
  right: 0px;
  width: 250px;
  transform: translateX(0);
  transition: .3s;
  list-style: none;
}
nav > .menu-btns > .user > ul.hide{
  transform: translateX(100%);
}
nav > .menu-btns > .user > ul > li{
  padding: 10px;
  background-color: var(--PrimarioOscuro);
  box-shadow: 2px 2px 2px var(--sombra);
}
nav > .menu-btns > .user > ul > li:nth-of-type(1){
  color: var(--PrimarioOscuro);
  font-family: var(--UbuntuEnlaces);
  background-color: var(--SecundarioClaro);
}
nav > .menu-btns > .user > ul > li:nth-of-type(n + 2):hover{
  background-color: var(--PrimarioClaro);
  cursor: pointer;
}
nav > .menu-btns > .user > ul > li > a{
  color: var(--SecundarioClaro);
  font-family: var(--UbuntuEnlaces);
}

.index-carousel{
  position: relative;
}
.index-carousel> a{
  z-index: 10;
}
.index-carousel> .carousel-inner > .carousel-item{
  height: 100vh;
  position: relative;
  z-index: 6;
}
.index-carousel> .carousel-inner > .carousel-item > img{
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.index-carousel> .carousel-inner > .carousel-item > .overlay-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: var(--UbuntuEnlaces);
  background-color: var(--sombraClara);
  display: grid;
  color: #fff;
  grid-template-columns: minmax(200px, 700px);
  grid-auto-columns: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.index-carousel .overlay-img > p{
  margin: 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 3em;
}
.index-carousel .overlay-img > p > span{
  padding: 0 25px;
  background-color: var(--Anaranjadito);
}

#search-main{
  z-index: 20;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: grid;
  grid-template-columns: minmax(240px, 1000px);
  justify-content: center;
}
#search-main > .form-container select,
#search-main [type = "text"],
#search-main [type = "number"]{
  /* @apply --input-text; */
  width: 100%;
  padding: 5px;
  height: 35px;
  border: none;
  border: 2px solid var(--PrimarioOscuro);
  border-radius: 5px;
  height: 100%;
}
#search-main > .form-container{
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
#search-main > .form-container > [type = "submit"],
#search-main > .form-container > #botones-container > label{
  margin: 0;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  background-color: var(--PrimarioOscuro);
  outline: none;
  text-align: center;
  transition: .3s;
}
#botones-container > input{
  display: none;
}
#botones-container > input:checked + label{
  /* background-color: color(var(--PrimarioOscuro) blackness(80%)) !important; */
  background-color: #001933 !important;
}

#search-main > .form-container > [type = "submit"]:hover{
  /* background-color: color(var(--PrimarioOscuro) lightness(40%)); */
  background-color: #0066cc;
}
#search-main > .form-container > .rango-input,
#search-main > .form-container > #botones-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
#search-main > .form-container > .rango-input,
#search-main > .form-container > [type = "text"]:nth-of-type(1){
  grid-column: 2 span;
}
#search-main > .form-container > [type = "text"]:nth-of-type(1)::placeholder{
  text-align: center;
}
#search-main > .form-container > .input-select{
  grid-column: 1 span;
}
#search-main > .form-container > [type = "submit"],
#search-main > .form-container > #botones-container{
  grid-column: 2 span;
}
#search-main > .form-container > [type = "submit"]{
  grid-row: 5 / 6;
}
/*Ralla derecha*/

#modal-servicios{
  position: fixed;
  z-index: 999999;
  top: calc(50% - 200px);
  right: -62px;
  width: 60px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: color(var(--PrimarioOscuro) alpha(81%)); */
  background-color: #004489cf;
  box-shadow: 2px 2px 2px var(--sombra);
  animation-name: servicios;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}
#modal-servicios:hover{
  z-index: 999999;
  background-color: var(--PrimarioOscuro);
  color: var(--SecundarioClaro);
  box-shadow: 3px 3px 3px var(--sombra);
  border-left: 2px solid #fff;
  box-sizing: unset;
  transition: .4s;
  animation-name: otro;
}
#modal-servicios:hover > h5{
  animation-name: otro;
}
#modal-servicios > .servicios-overlay{
  z-index: 1;
  /* @apply --overlay; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sombra);
  transition: .3s;
}
#modal-servicios > .servicios-overlay.hide{
  transform: translateX(-100%);
}
#modal-servicios > h5{
  margin: 0;
  font-family: var(--UbuntuEnlaces);
  color: var(--SecundarioClaro);
  font-size: 21px;
  writing-mode: vertical-lr;
  animation-name: serviciosTitle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}
#modal-servicios > #submenu {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  padding: 20px;
  width: 250px;
  height: 400px;
  background-color: #004489ce;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  transition: .4s;
  transform: translateX(100%);
}
#modal-servicios > #submenu.show{
  background-color: var(--PrimarioOscuro);
  box-shadow: -10px 3px 7px var(--sombra);
  transform: translateX(-62px);
  visibility: visible;
}
#modal-servicios > #submenu.show{
  transform: translateX(unset);
}
#modal-servicios > #submenu{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
}
#modal-servicios > #submenu > .submenu-item{
  position: relative;
}
#modal-servicios > #submenu > .submenu-item > img{
  /* @apply --imgCover; */
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#modal-servicios > #submenu > .submenu-item > h6{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px 10px;
  font-weight: 500;
  color: var(--SecundarioClaro);
  background-color: var(--PrimarioClaro);
  transition: .3s;
}
#modal-servicios > #submenu > .submenu-item:hover > h6{
  padding: 5px 40px;
}
@keyframes servicios{
  from{
   /* background-color: color(var(--PrimarioOscuro) alpha(81%)); */
   background-color: #004489cf;
  }
  50%{
    /* background-color: color(var(--PrimarioClaro) alpha(81%)); */
    background-color: #0075becf;
  }
  to{
    /* background-color: color(var(--SecundarioClaro) alpha(81%)); */
    background-color: #e9ebf5cf;
  }
}
@keyframes serviciosTitle{
  from{
    color: var(--SecundarioClaro);
  }
  to{
    color: var(--PrimarioOscuro);
  }
}

#filtros{
  z-index: 999999;
  position: fixed;
  top: calc(50% - 50px);
  left: -45px;
  width: 40px;
  height: 100px;
  /* background-color: color(var(--PrimarioOscuro) alpha(81%)); */
  background-color: #004489cf;
  box-shadow: 2px 2px 2px var(--sombra);
  cursor: pointer;
}
#filtros.showUp{
  z-index: 9999;
} 
#filtros > .filtros-overlay{
  z-index: 1;
  /* @apply --overlay; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sombra);
  transition: .3s;
}
#filtros > .filtros-overlay.hide{
  transform: translateX(100%);
}
#filtros h5{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--UbuntuEnlaces);
  color: var(--SecundarioClaro);
  font-size: 21px;
  writing-mode: vertical-lr;
}
#filtros > .main-container{
  z-index: 2;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-family: var(--UbuntuEnlaces);
  background-color: var(--SecundarioClaro);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px auto;
  transition: .3s;
  transform: translateX(-100%);
}
#filtros > .main-container.show{
  transform: translateX(0px);
}
#filtros > .main-container > .title-container{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#filtros > .main-container > .title-container h6{
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  color: var(--PrimarioClaro);
  display: flex;
  justify-content: center;
  align-items: center;
}
#filtros > .main-container > .title-container i{
  z-index: 2;
  position: relative;
  color: var(--sombra);
  cursor: pointer;
}
#filtros > .main-container > .title-container i:hover{
  color: #fff;
}
#filtros > .main-container > .filtros-container{
  padding-right: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  overflow: auto;
}
#filtros > .main-container > .filtros-container label{
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--PrimarioClaro);
  font-weight: bold;
}
#filtros > .main-container > .filtros-container input{
  outline: none;
}
#filtros > .main-container > .filtros-container > .main-search{
  display: grid;
  grid-template-columns: 200px auto;
}
#filtros > .main-container > .filtros-container > .main-search > input{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}
#filtros > .main-container > .filtros-container > .main-search > button{
  /* @apply --button; */
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  background-color: var(--PrimarioOscuro);
  outline: none;
  text-align: center;
  font-size: 1em;
  padding: 2px 5px;
  font-style: unset;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}
#filtros > .main-container > .filtros-container > .main-search > button:hover{
  background-color: var(--PrimarioClaro);
}
#filtros > .main-container > .filtros-container > .options-container,
#filtros > .main-container > .filtros-container > .rango-container{
  display: grid;
  grid-template-columns: 1fr;
}
#filtros > .main-container > .filtros-container > .inmueble-container{
  grid-template-rows: 50px repeat(6, var(--radioButtonSpace));
}
#filtros > .main-container > .filtros-container > .options-container{
  grid-template-rows: 50px repeat(4, var(--radioButtonSpace));
}
#filtros > .main-container > .filtros-container > .rango-container{
  grid-template-rows: 50px 35px;
}
#filtros > .main-container > .filtros-container > .rango-container > .input-container{
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 3px;
}
#filtros > .main-container > .filtros-container [type = "text"],
#filtros > .main-container > .filtros-container [type = "number"]{
  /* @apply --input-text; */
  width: 100%;
  padding: 5px;
  height: 35px;
  border: none;
  border: 2px solid var(--PrimarioOscuro);
  border-radius: 5px;
}
#filtros > .main-container > .filtros-container [type = "radio"]{
  margin-right: 5px;
}
#filtros > .main-container > .filtros-container::-webkit-scrollbar{
  width: 7px;
  background-color: #F5F5F5;
}
#filtros > .main-container > .filtros-container::-webkit-scrollbar-thumb{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: var(--PrimarioClaro);
}
#filtros > .main-container > .filtros-container::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.modal{
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  background-color: var(--sombra);
  transform: translateY(0px);
}
.modal.hide{
  transform: translateY(-100%);
}
.modal > .login{
  display: grid;
  grid-template-columns: minmax(300px, 450px);
  background-color: #fff;
}
.modal > .login > .title-container{
  color: #fff;
  background-color: #004489;
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: center;
}
.modal > .login > .title-container h5{
  margin: 0;
}
.modal > .login > .title-container i{
  color: var(--sombra);
  justify-self: flex-end;
  cursor: pointer;
}
.modal > .login > .title-container i:hover{
  color: #fff;
}
.modal > .login > .main-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

#modal-login > .login > .main-container > .input-container{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  font-family: var(--UbuntuEnlaces);
}
#modal-login > .login > .main-container > .input-container:nth-of-type(3){
  grid-template-columns: auto 1fr;
  gap: 10px;
}
#modal-login > .login > .main-container > .input-container:nth-of-type(3) input{
  width: 15px;
  height: 15px;
}
#modal-login > .login > .main-container > .input-container:nth-of-type(3) label{
  margin: 0;
}
#modal-login > .login > .main-container > .input-container input{
  width: 100%;
}
#modal-login > .login > .main-container > .login-container{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
#modal-login > .login > .main-container > .login-container button{
  background-color: var(--PrimarioOscuro);
  font-style: italic;
  padding: 5px 10px;
  color: #fff;
  border: none;
}
#modal-login > .login > .main-container > .login-container button:hover{
  background-color: var(--PrimarioClaro);
}
#modal-login > .login > .main-container > .login-container button:disabled{
  background-color: var(--sombra);
}

#modal-message-sent > .login > .title-container,
#modal-error > .login > .title-container{
  background-color: transparent;
  text-align: end;
  display: block;
}
#modal-message-sent > .login > .title-container i:hover,
#modal-error > .login > .title-container i:hover{
  color: var(--danger);
}
#modal-message-sent > .login > .message,
#modal-error > .login > .error{
  justify-items: center;
  gap: 30px;
}
#modal-message-sent > .login > .message i,
#modal-error > .login > .error i{
  color: var(--success);
  font-size: 80px;
}
#modal-error > .login > .error i{
  color: var(--danger);
}
#modal-message-sent > .login > .message p,
#modal-error > .login > .error p{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#modal-input-img > .login > .main-container > .input-container > input{
  width: 100%;
}
#modal-input-img > .login > .main-container > .login-container button{
  width: 100%;
  background-color: var(--PrimarioOscuro);
  font-style: italic;
  padding: 5px 10px;
  color: #fff;
  border: none;
}
#modal-input-img > .login > .main-container > .login-container button:hover{
  background-color: var(--PrimarioClaro);
}

#publications{
  position: relative;
  text-align: center;
}
#publications > .publications-nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--PrimarioOscuro);
  background-color: var(--SecundarioClaro);
  font-family: var(--UbuntuEnlaces);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
#publications > .publications-nav > div{
  padding: 10px 20px;
}
#publications > .publications-nav > hr{
  margin: 0;
  padding: 0;
  width: 1px;
  height: 24px;
  background-color: var(--sombra);
}
#publications h1{  
  /* @apply --titulos; */
  font-family: var(--UbuntuTitulosPrincipales);
  font-weight: bold;
  color: var(--PrimarioClaro);
  text-align: center;
  font-size: 25px;
}
#publications > .publications-container{
  display: grid;
  grid-template-columns: minmax(100px, 500px);
  justify-content: center;
  gap: 20px;
}
#publications > .publications-container > .errorMessage{
  align-self: center;
}
#publications > .publications-container > .errorMessage > i{
  font-size: 90px;
}
#publications > .publications-container > .errorMessage > p{
  margin: 0;
  font-size: 30px;
}
#busqueda-products-page {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 40px;
}
#publications > .publications-container > .publications-item,
.publications-item{
  color: #000;
  font-style: normal;
  background-color: var(--sombraClara);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, 254px);
  cursor: pointer;
  transition: .3s;
}
#publications > .publications-container > .publications-item:hover,
.publications-item:hover{
  box-shadow: 0px 18px 29px 5px rgba(0, 0, 0, 0.5);
}
#publications > .publications-container > .publications-item > .img-container,
#busqueda-products-page > .publications-item > .img-container{
  position: relative;
  overflow: hidden;
}
#publications > .publications-container > .publications-item > .img-container > img,
#busqueda-products-page > .publications-item > .img-container > img{
  /* @apply --imgCover; */
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#publications > .publications-container > .publications-item > .img-container h5,
#publications > .publications-container > .publications-item > .img-container h6,
#busqueda-products-page > .publications-item > .img-container h6,
#busqueda-products-page > .publications-item > .img-container h5{
  margin: 0;
  color: #fff;
  font-weight: bold;
}
#publications > .publications-container > .publications-item > .img-container h5,
#busqueda-products-page > .publications-item > .img-container h5{
  font-size: 1em;
}
#publications > .publications-container > .publications-item > .img-container > .publications-address,
#busqueda-products-page > .publications-item > .img-container > .publications-address{
  /* @apply --addressPrice; */
  padding: 5px 10px;
  position: absolute;
  border-radius: 3px;
  transition: .3s;
  left: 5px;
  transform: translateX(calc(-100% - 5px));
  bottom: 5px;
  background-color: var(--sombra);
}
#publications > .publications-container > .publications-item > .img-container > .publications-price,
#busqueda-products-page > .publications-item > .img-container > .publications-price{
  /* @apply --addressPrice; */
  padding: 5px 10px;
  position: absolute;
  border-radius: 3px;
  transition: .3s;
  top: 10px;
  left: 10px;
  transform: translateX(calc(-100% - 10px));
  background-color: var(--PrimarioClaro);
}
#publications > .publications-container > .publications-item > .img-container > .publications-features,
.publications-item > .img-container > .publications-features{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
  /* background-color: color(var(--SecundarioClaro) alpha(50%)); */
  background-color: #e9ebf580;
  /* background-color: var(--sombra); */
  align-content: center;
  transform: translateX(calc(100%));
  transition: .3s;
}

#publications > .publications-container > .publications-item > .img-container > .publications-features div,
.publications-item > .img-container > .publications-features div{
  /* @apply --titulos; */
  font-family: var(--UbuntuTitulosPrincipales);
  font-weight: bold;
  color: var(--PrimarioClaro);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  color: var(--PrimarioOscuro);
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
  transition-timing-function: ease-in;
  cursor: pointer;
}
#publications > .publications-container > .publications-item > .img-container > .publications-features img,
.publications-item > .img-container > .publications-features img{
  height: 35px;
  width: 35px;
  fill: var(--PrimarioOscuro);
}
#publications > .publications-container > .publications-item > .img-container > .publications-features i:hover,
.publications-item > .img-container > .publications-features i:hover{
  background-color: rgba(255, 255, 255, 0.15);
}
#publications > .publications-container > .publications-item:hover > .img-container > .publications-address,
.publications-item:hover > .img-container > .publications-address,
#publications > .publications-container > .publications-item:hover > .img-container > .publications-price,
.publications-item:hover > .img-container > .publications-price,
#publications > .publications-container > .publications-item:hover > .img-container > .publications-features,
.publications-item:hover > .img-container > .publications-features{
  transform: translateX(0px);
}
#publications > .publications-container > .publications-item-load, .publications-item-load{
  background-color: var(--sombra);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, 254px);
  animation-name: onLoad;
  /* animation-timing-function: ease-out; */
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#publications > .publications-container > .publications-item-load:nth-of-type(2), .publications-item-load:nth-of-type(2){
  animation-duration: 1s;
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 1));
}
#publications > .publications-container > .publications-item-load:nth-of-type(3), .publications-item-load:nth-of-type(3){
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 2));
}
#publications > .publications-container > .publications-item-load:nth-of-type(4), .publications-item-load:nth-of-type(4){
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 3));
}
#publications > .publications-container > .publications-item-load:nth-of-type(5), .publications-item-load:nth-of-type(4){
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 4));
}
#publications > .publications-container > .publications-item-load:nth-of-type(6), .publications-item-load:nth-of-type(5){
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 5));
}
#publications > .publications-container > .publications-item-load:nth-of-type(7), .publications-item-load:nth-of-type(6){
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 6));
}
#publications > .publications-container > .publications-item-load:nth-of-type(8), .publications-item-load:nth-of-type(7){
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 7));
}
#publications > .publications-container > .publications-item-load:nth-of-type(9), .publications-item-load:nth-of-type(8){
  animation-duration: calc(1s + (var(--diferenciaSegundos) * 8));
}
@keyframes onLoad{
  from{
    background-color: var(--sombra);
  }
  50%{
    background-color: var(--sombraClara);
  }
  to{
    background-color: rgba(0, 0, 0, 0);
  }
}

/*Seccion Primera-vez*/
#primera-vez{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
#primera-vez > h1{
  text-align: center;
  font-family: var(--UbuntuTitulosPrincipales);
  font-weight: bold;
  color: var(--PrimarioClaro);
  font-size: 25px;
}
#primera-vez > .contenedor-opciones{
  display: grid;
  grid-template-columns:  1fr;
  justify-content: center;
}
#primera-vez > .contenedor-opciones > a{
  position: relative;
/*   display: flex;
  align-items: center;
  justify-content: center; */
}
#primera-vez > .contenedor-opciones > a > img{
  width: 100%;
  box-shadow: 5px 5px 5px grey;
}
#primera-vez > .contenedor-opciones > a > .description-container{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
  transition-timing-function: linear;
}
#primera-vez > .contenedor-opciones > a:hover > .description-container{
  /* background-color: color(#fff alpha(20%)); */
  background-color: #ffffff33;
  box-shadow: 8px 8px 8px #666565;  
}
#primera-vez > .contenedor-opciones > a > .description-container  > p{
  color: var(--SecundarioClaro);
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--PrimarioOscuro);
} 

#contact{
  font-family: var(--UbuntuSubtitulos);
  background-image: url(../../dist/img/cover-contacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template: 1fr auto / minmax(300px, 550px);
  justify-content: center;
  align-items: center;
}
#contact h2{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}
#contact > form{
  /* background-color: color(var(--PrimarioOscuro) alpha(50%)); */
  background-color: rgba(0, 68, 137, 0.5);
  border-radius: 25px;
  display: grid;
  grid-template-columns: minmax(120px, 500px);
  grid-template-rows: repeat(3, 1fr) auto;
  justify-content: center;
  column-gap: 40px;
  row-gap: 20px;
}
#contact > form > .input-container{
  display: grid;
  /* grid-template-columns: 95px 1fr; */
  grid-template-columns: 1fr;
  grid-template-rows: 30px;
}
#contact > form > .input-container > label{
  color: #fff;
  font-size: 1.3em;
}
#contact > form > .input-container > input{
  border: none;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  outline: none;
}
#contact > form > textarea{
  padding: 10px;
  resize: none;
  outline: none;
  border: none;
  height: 200px;
  transition: .3s;
}
#contact > form > textarea::placeholder{
  color: var(--sombra);
}
#contact > form > button{
  margin-top: 10px;
  padding: 4px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  color: var(--PrimarioOscuro);
  /* background-color: color(#fff alpha(80%)); */
  background-color: #ffffffcc;
  justify-self: center;
  outline: none;
}
#contact > form > button:hover{
  background-color: #fff;
}

#footer{
  font-family: var(--UbuntuSubtitulos);
}
#footer h5{
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px var(--PrimarioOscuro);
  text-align: center;
}
#footer > .contenedor-footer{
  display: grid;
  grid-template-columns: 1fr;
}
#footer > .contenedor-central{
  /* background-image: linear-gradient(to right, color(var(--PrimarioOscuro)  alpha(81.6%)),
                                              color(var(--SecundarioClaro) alpha(81.6%))); */
  background-image: linear-gradient(to right, #004489cf, #e9ebf5cf);
  display: grid;
  grid-template-columns: minmax(200px, 400px);
  justify-content: center;
  gap: 20px;
}
#footer > .contenedor-central > .redes{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}
#footer > .contenedor-central > .redes > .item-redes{
  width: 175px;
  display: grid;
  grid-template-columns: 50px auto;
  gap: 20px;
}
#footer > .contenedor-central > .redes > .item-redes > img{
  width: 35px;
  height: auto;
}
#footer > .contenedor-central > .redes > .item-redes > a{
  color: white;
  font-size: 15px;
  font-weight: 700;
}
#footer > .contenedor-central > .enlaces{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
}
#footer > .contenedor-central > .enlaces h5{
  grid-column: 2 span;
}
#footer > .contenedor-central > .enlaces  > .items-enlaces{
  padding: 0;
  list-style: none;
  grid-column: 1 span;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
#footer > .contenedor-central > .enlaces  > .items-enlaces a{
  font-size: 15px;
  color: white;
  font-weight: 500;
}
#footer > .contenedor-central > .img-container{
  justify-self: center;
  align-self: center;
}
#footer > .contenedor-central > .img-container img{
  width: 100%;
  max-width: 270px;
}
#footer > .contenedor-inferior{
  background-color: var(--PrimarioOscuro);
  width: 100%;
  height: auto;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  color: white;
}
#footer > .contenedor-inferior > a{
  color: white;
}

/*mantenimiento-error*/

#mantenimiento-error{
  position: relative;
  width: 100%;
  height: calc(100vh - 42px);
  background-image: url(../../dist/img/back-404.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#mantenimiento-error > .capa{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.397);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #E9EBF5;
  text-align: center;
  font-family: var(--UbuntuSubtitulos);
  display: grid;
  grid-template-columns: minmax(300px, 600px);
  justify-content: center;
  align-content: center;
}
#mantenimiento-error > .capa > h1{
  font-size: 50px;
}
#mantenimiento-error > .capa > p{
  font-size: 25px;
}
#mantenimiento-error > .capa > a{
  width: 200px;
  margin-right: auto; 
  margin-left: auto;
  padding: 5px;
  color: #004489;
  font-weight: 600;
  background-color: var(--SecundarioClaro);
}
#mantenimiento-error > .capa > a:hover{
  background-color: #004489;
  color: #E9EBF5;
  box-shadow: 5px 5px 5px grey;
}

/* @custom-media --medium (width >= 768px); */
/* @custom-media --large (width >= 992px); */
/* @custom-media --ExtraLarge (width >= 1200px); */

@media screen and (min-width: 400px){
  #contact > form > textarea{
    height: 260px;
  }
}
@media screen and (min-width: 550px){
  #footer > .contenedor-central{
    grid-template-columns: repeat(2, minmax(200px, 400px));
    gap: 10px;
  }
  #footer > .contenedor-central > .img-container{
    display: none;
  }
}
@media screen and (min-width: 650px){
  #publications h1{  
    font-size: 35px;
  }
  #publications > .publications-container{
    grid-template-columns: repeat(2, minmax(100px, 450px));
  }
  #publications > .publications-container > .errorMessage{
    grid-column: 1 / 3;
  }
  #primera-vez > h1{
    font-size: 35px;
  }
  #primera-vez > .contenedor-opciones{
    grid-template-columns: repeat(2, minmax(150px, 500px))
  }

  #footer h5{
    font-size: 25px;
  }
  #footer > .contenedor-central > .redes > .item-redes{
    width: 210px;
  }
  #footer > .contenedor-central > .redes > .item-redes > a{
    font-size: 20px;
  }
  #footer > .contenedor-central > .redes > .item-redes > img{
    width: 50px;
    height: auto;
  }
  #footer > .contenedor-central > .enlaces  > .items-enlaces a{
    font-size: 20px;
  }
}
@media screen and (min-width: 768px){
  nav > .menu-btns > .menu-items{
    position: unset;
    margin-right: 25px;
    border-radius: unset;
    background-color: unset;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    gap: 30px;
  }
  nav > .menu-btns > .menu-items.four-buttons{
    grid-template-columns: repeat(4, auto);
  }
  nav > .menu-btns > .menu-items > li:nth-of-type(5) > a{
    border-radius: unset;
  }

  .index-carousel .overlay-img > p{
    font-size: 4em;
  }

  #search-main{
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
  #search-main > .form-container{
    grid-template-columns: repeat(4, 1fr);
  }
  #search-main > .form-container > [type = "submit"],
  #search-main > .form-container > #botones-container{
    grid-column: 1 span;
  }
  #search-main > .form-container > [type = "submit"]{
    grid-row: unset;
  }

  #modal-servicios{
    z-index: 5;
    right: 0;
  }
  #modal-servicios:hover > #submenu{
    background-color: var(--PrimarioOscuro);
    box-shadow: -10px 3px 7px var(--sombra);
    transform: translateX(-62px);
    visibility: visible;
  }
  #filtros{
    z-index: 5;
    left: 0;
  }

  #contact{
    height: 100vh;
    grid-template: 1fr auto / minmax(300px, 900px);
  }
  #contact > form{
    grid-template-columns: repeat(2, minmax(120px, 450px));
  }
  #contact > form > .input-container{
    grid-template-columns: 120px 1fr;
  }
  #contact > form > textarea{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  #contact > form > button{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  #footer > .contenedor-central > .img-container img{
    max-width: 304px;
  }
}
@media screen and (min-width: 900px){
  #footer > .contenedor-central{
    grid-template-columns: repeat(3, minmax(200px, 400px));
  }
  #footer > .contenedor-central > .img-container{
    display: block;
  }
}
@media screen and (min-width: 992px){
  #publications > .publications-container{
    grid-template-columns: repeat(3, minmax(100px, 400px));
  }
  #publications > .publications-container > .errorMessage{
    grid-column: 2 / 3;
  }
  #busqueda-products-page{
    border: 1px solid blue;
  }
}
@media screen and (min-width: 1600px){
  #footer h5{
    font-size: 30px;
  }
  /* #footer > .contenedor-central{
    grid-template-columns: repeat(3, 1fr);
  } */
  #footer > .contenedor-central > .redes > .item-redes > img{
    width: 60px;
    height: auto;
  }
  #footer > .contenedor-central > .enlaces  > .items-enlaces a{
    font-size: 30px;
  }
}
